:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.panels {
  flex: 1;
  display: flex;
  min-height: 0;
}

.panel {
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: hidden;
  border: 1px solid #3a3a3a;
}

.panel:first-child {
  border-right: 0;
}

.panel:last-child {
  border-left: 0;
}
